extends layout 

block files 
    script(src="/static/js/admin.js", defer, type='module') 

block content 

    div.text-center.my-16
        h1.text-4xl.p-8.font-bold  Admin
        p1#greeting.font-lg.p4   .

    #users.mx-auto.border.border-black(class='md:w-1/2 m-auto hidden')
        h1.font-extrabold.font-2xl.text-center.my-4 User List
        #noUsers.text-center.font-thin.my-8 No users in the database


