extends layout 

block files 
    script(src="/static/js/admin.js", defer, type='module') 

block content 

    div.text-center.my-16
        h1.text-4xl.p-8.font-bold  Admin
        p1#greeting.font-lg.p4   .



