extends layout 

block content 

    .text-center.my-16
        h1.font-extrabold.font-4xl= title
        p.text-thin.font-xl this page is not available.
        p.text-thin.font-xl Please go back to home 