header.flex.justify-between.p-4.text-xl.font-extrabold
    a(href="/") home 

    .space-x-4 
        a#user.text-green-400(href='/app') user
        a#admin(href="/admin") admin 
        a#login(href="/auth/login") login 
        a#logout(href="#") logout 