<%- include('header'); -%>

    <link rel="stylesheet" href="css/contact.css">

    <div class="content">    
        <h1 id="heading">contact 🗣</h1>
        <p>We have 3 experts for now!</p>
        <div>
            <a href="/person/sudi">@Sudi</a>
            <a href="/person/nik">@Nik</a>
            <a href="/person/karan">@Karan</a>
        </div>
    </div>
    
<%- include('footer'); -%>