<%- include('header'); -%>


        <link rel="stylesheet" href="css/index.css">
        <div class="content">

            <h1 class="intro">Rootz's Home 🔨</h1>
            <p class="sub">please be gentle.</p>

            <div class="demo">
                <h1>This is a demo site</h1>
                <p>I'm learning nodejs so this will be my first site.</p>
            </div>

        </div>

<%- include('footer'); -%>