<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AuthO learning app</title>
</head>

<style>
    a {
        padding: 4px 9px;
        border-radius: 2px solid black;
        background: #000;
        color: #fff;
        margin: 1em 0;
    }
    #root {
        width: 90%;
        margin: auto;
        text-align: center;
    }
</style>

<body>

    <div id="root">
        
        <h1>Hello world</h1>

        <div>
            <p>Basic oAuth with GitHub implementation</p>
            <p>This is learning app created by Me (rootz491)</p>
        </div>
        
        <div>
            <div>
                <p>Please authenticate yourself</p>
                <a href="/auth/login">login page</a>
            </div>
            <div>
                <p>if you're already logged in, then visit profile page ❤️</p>
                <a href="/app/profile">profile page</a>
            </div>
        </div>

    </div>

</body>
</html>