<div id="login">
    <h1>Authenticate youself first 🔒</h1>
    <div>
        <a href="/auth/github">login with github</a>
    </div>
</div>

<style>
    #login {
        width: 70%;
        height: 300px;
        margin: 4em auto;
    }
    h1 {
        font-size: 2.5em;
        text-align: center;
    }
    #login > div {
        display: flex;
        justify-content: center;
    }
    a {
        padding: 5px 12px;
        border-radius: 3px;
        border: 1px solid #000;
        background: #000;
        color: #fff;
        margin: auto;
    }
    a:hover {
        background: #fff;
        color: #000;
    }
</style>

