header(class='flex justify-between px-8 py-2 mb-8 font-bold text-lg md:text-2xl') 
  a(href='/') jade 
  div(class='space-x-4 text-blue-400')
    a(href='/info', class='hover:underline') info 
    a(href='/contact', class='hover:underline') contact

