.px-8.py-4.flex.justify-between.tracking-widest
    h1.text-purple-500.font-extrabold HelloWorld 

    ul.space-x-4.flex 
        a(href="/", class="hover:underline text-purple-500") author
        a(href="/", class="hover:underline text-purple-500") about
        a(href="/", class="hover:underline text-purple-500") contact
