extends layout

block content
  h1(class='text-center text-xl font-extrabold')= message
  h2(class='text-center text-base font-thin')= error.status
  pre(class='text-sm overflow-ellipsis') #{error.stack}
