doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/tailwind.css')
  body
    .container(class=[
      'mx-auto',
      'py-8', 
      'lg:w-2/3',
      'h-screen',
      'max-h-full',
      'bg-gray-100'
    ])
      include ./includes/header  

      block content
