extends layout 

block container 

    .container.mx-auto 

        .text-center.my-24     
            h1.text-5xl.font-extrabold.py-4 404
            p.text-lg.font-thin Page you're looking for isn't available