.content {
    width: 70%;
    margin: auto;
    margin-top: 4em;
}

#heading {
    color: red;
    font-size: 3em;
}

.content > p {
    padding: 1em 0;
}

.content > div {
    display: grid;
    gap: .5em;
}