.content {
    width: 70%;
    margin: auto;
    margin-top: 2em;
}

#heading {
    color: red;
    font-size: 3em;
}

.content > p {
    padding: 1em 0;
}

.content > div {
    display: grid;
    gap: .5em;
}


.contact-form {
    padding: 2em 0;
}

.contact-form > h1 {
    color: red;
    font-size: 2em;
}

form, form > div {
    display: grid;
    gap: .5em;
}

input, textarea, select, button {
    padding: 4px;
    border: 1px solid black;
}

button {
    padding: 1em .2em;
    width: 150px;
    margin: auto;
    background-color: none;
}