extends layout 

block files
    link(rel='stylesheet', href='/stylesheets/about.css')

block content
    div(class='main'):      h1= title
                            p This is my web application in which I'm going to add firebase Auth and firestore.

    div(class='det'):       h2 firebase Auth 
                            p It is used to implement autherisation and authentication to the application.

    div(class='det'):       h2 firebase Firestore 
                            p It is cloud database which i will use to store data of the application.
